.days {
	margin-top: 130px;
	ul {
		max-width: 882px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin: 0 auto;

		li {
			margin-right: 16px;

			a {
				text-decoration: none;
				padding: 20px 32px;
				border-radius: 100px;
				border: solid 1px transparent;
			}
			a:hover {
				border: solid 1px $white;
			}
		}
	}
}
#active {
	a {
		background-color: $white;
		color: $black;
	}
}
