.days {
	ul {
		max-width: 882px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		li {
			padding: 20px 32px;
			border-radius: 100px;
			border: solid 1px transparent;
			a {
				text-decoration: none;
			}
		}
		li:hover {
			border: solid 1px $white;
		}
	}
}
