#search_bar {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	margin-top: 32px;
	margin-right: 32px;
}

.search_icon {
	display: flex;
	background-color: $white;
	border-radius: 50%;
	padding: 16px;
}
.search {
	position: absolute;
	bottom: 50%;
	left: 40%;
	display: none;
	justify-content: center;
	align-items: center;

	padding: 8px 24px;
	border-radius: 34px;
	background-color: white;
	z-index: 1;
	input {
		border: none;
		color: $black;
	}
	button {
		padding: 20px 32px;
		background-color: $black;
		border-radius: 100px;
		border: none;
	}
}
