* {
	font-family: Roboto !important;
	color: $white;
}
body {
	background: linear-gradient(73deg, $rose, $orange);
	color: $white;
	height: 100vh;
}
main {
	margin-left: 202px;
}

#date {
	margin-bottom: 48px;
}

.list {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	hr {
		width: 100%;
	}

	.line {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.info {
			display: flex;
			flex-direction: row;
			align-items: center;
			svg {
				margin-left: 8px;
			}
		}
	}
}
.temp {
	display: flex;
	align-items: center;
	img{
		
	}
	h3 {
		font-size: 340px;
		line-height: 340px;
		/* identical to box height, or 100% */

		text-align: right;

		opacity: 0.2;
	}
}
