//Variable color .scss

$black: #000000;
$white: #ffffff;
$orange: #f8ad48;
$rose: #d9547b;
$violet: #71376e;
$bleu: #1da9c2;

// ---
//  Foreground colors
// ---
.color-black {
	color: $black;
}
.color-white {
	color: $white;
}

// ---
//  Background colors
// ---
.bg-black {
	background-color: $black;
}
.bg-white {
	background-color: $white;
}
